@import (reference) "mediaQuery";
@import (reference) "colors";

#app {
}

@leftPanelWidth: 200px;
@desktopWidth: 1024px;

.leftPanel {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 20px;
  width: @leftPanelWidth;
  border-right: 1px solid lighten(@colorGrayDark, 5%);
}

.appMain {
  position: absolute;
  top: 0;
  left: @leftPanelWidth;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background: #FFF;
  background: @colorGrayDark;
  padding: 20px 30px;

  @media @mobileAndTablet {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

//Themes

.theme-light {

  .leftPanel {
    background: #333;
  }

}
