@import (reference) "colors";
@import (reference) "mediaQuery";
@import (reference) "fontWeights";

.leftPanel  {
  font-size: 1.5em;
  text-align: center;

  .logo {
    margin: 20px 0;
  }

  .info {
    margin: 60px 0;

    .name {
      color: @colorBlue;
      font-weight: @thin;
      margin: 0 0 10px 0;
      font-size: 25px;
      transition: 250ms ease;
    }
  }

  .connect {
  }
}

//Themes
.theme-red {

  .leftPanel .info .name {
    color: @colorRed;
  }
}


